[Unit]
Description=timesheets_spa

[Service]
Type=simple
User=timesheets_spa
Group=timesheets_spa
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5002"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/timesheets_spa/timesheets_spa
ExecStart=/bin/bash /home/timesheets_spa/timesheets_spa/start.sh

[Install]
WantedBy=multi-user.target